/************************************************** STYLE **************************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  list-style: none;
  transition: all 0.5s ease-in-out;
}

body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #e8effd;
  display: flex;
}

/************************************************** MAIN **************************************************/

.breadcrumbs {
  padding: 15px 0;
  min-height: 40px;
}

.breadcrumbs .container1 {
  max-width: 1140px;
  padding: 20px 100px;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 20px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #4668a2;
  content: "/";
}

.box-cont {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
}

.box-cont0 {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
}

.container {
  position: relative;
  max-width: 800px;
  width: 100%;
  background: white;
  padding: 30px 30px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  margin: auto;
}

.container0 {
  position: relative;
  max-width: 600px;
  width: 100%;
  background: white;
  padding: 30px 30px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  margin: auto;
}

.container form {
  width: 100%;
  height: 100%;
  background: white;
}

.form2 {
  display: none;
}

.container .form2 .form_content {
  justify-content: flex-end;
}

.input350 {
  width: 350px;
}

/************************************************************/

.container .form_content {
  display: flex;
  align-items: center;
}

.form_content .login_form {
  width: 100%;
  height: 100%;
}

form .form_content .title {
  position: relative;
  font-size: 30px;
  font-weight: 500;
  color: #000038;
  width: 100%;
  text-align: center;
}

form .form_content .input_boxes {
  margin: 50px 0 50px 0;
}

form .form_content .input_box {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

form .form_content .input_box i {
  font-size: 20px;
  color: #000038;
}

.form_content .input_box input,
select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 10px;
  margin: 0 0 20px 20px;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.form_content .input_box input:focus,
.form_content .input_box input:valid {
  border-color: #000038;
}

form .form_content .text {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  text-align: center;
}

form .form_content .text a {
  padding: 0;
}

form .form_content .text a:hover {
  text-decoration: underline;
}

form .form_content .button_box {
  width: 100%;
  margin: 40px 0 20px 0;
}

form .form_content .button_box button {
  color: black;
  background: #f8c230;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.5s ease;
  width: 100%;
  height: 40px;
  font-size: 20px;
}

form .form_content .button input:hover {
  background: lightgoldenrodyellow;
}

form .form_content .text label {
  color: #000038;
}

form .form_content .text label:hover {
  text-decoration: underline;
}

.input_boxes label.sub_title {
  color: #000038;
  font-size: 20px;
  text-decoration: none;
  text-align: left !important;
}

form .form_content .login_form .error-msg {
  margin: 10px 0;
  padding: 15px;
  display: block;
  background-color: #ff3d3d;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

form .form_content .login_form .error-msg i {
  color: yellow;
  margin-right: 10px;
}

form .form_content .validation_form .error-msg {
  margin: 10px 0;
  padding: 15px;
  display: block;
  background-color: #000038;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

form .form_content .validation_form .error-msg i {
  color: yellow;
  margin-right: 10px;
}

/************************************************** REGISTRATION **************************************************/
.container3 {
  position: relative;
  max-width: 600px;
  width: 100%;
  background: white;
  padding: 30px 30px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  margin: auto;
  height: 570px;
}

.container3 .form3 {
  height: 350px;
}
.container3 .form3 .form_content {
  justify-content: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  height: 100%;
}

.container3 .form3 .form_content .validation_form {
  width: 100%;
}

.container3 .form3 .form_content .validation_form .title3 {
  width: 100%;
  font-size: 40px;
  font-weight: 500;
  color: #000038;
  text-align: center;
}

.container3 .form3 .form_content .validation_form .input_boxes3 {
  margin: 50px 0 50px 0;
  display: flex;
  justify-content: center;
}

.input {
  width: 40px;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  margin: 0 10px;
  text-align: center;
  font-size: 36px;
  cursor: not-allowed;
  pointer-events: none;
}

.input:focus {
  border-bottom: 3px solid #f8c230;
  outline: none;
}

.input:nth-child(1) {
  cursor: pointer;
  pointer-events: all;
}

form .form_content .input_boxes1 {
  margin: 60px 0 60px 100px;
}

form .form_content .title1 {
  position: relative;
  margin: 60px 0 0 120px;
  font-size: 40px;
  font-weight: 500;
  color: #000038;
}

form .form_content .text1 {
  font-size: 24px;
  font-weight: 500;
  color: #333;
  padding: 10px 20px 10px 125px;
}

form .form_content .text1 label {
  color: #000038;
}

form .form_content .text1 label:hover {
  text-decoration: underline;
}

.container .form4 .form_content {
  justify-content: flex-end;
}

.form_content .password_form {
  width: calc(100% / 2 - 25px);
}

.form_content .validation_form .modal {
  margin: 10px 0;
  padding: 15px 15px 25px 15px;
  display: block;
  background-color: #000038;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

.form_content .validation_form .modal .modal-content {
  display: block;
}

.form_content .validation_form .modal .modal-content .close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.form_content .validation_form .modal .modal-content i {
  color: yellow;
  margin-right: 10px;
}

.container4 {
  position: relative;
  display: flex;
  max-width: 550px;
  width: 100%;
  background: white;
  padding: 30px 30px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  margin: auto;
  min-height: 430px;
  height: 500px;
  flex-direction: column-reverse;
}

.container3 .form3 {
  height: 350px;
}
.container4 .form4 .form_content {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  height: 100%;
}

.container4 .form4 .form_content .password_form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container4 .form4 .form_content .password_form .title4 {
  width: 100%;
  font-size: 40px;
  font-weight: 500;
  color: #000038;
  text-align: center;
}

.container4 .form4 .form_content .password_form .input_boxes4 {
  margin: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Modal Styles */
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  display: none;
  flex-direction: column;
  background-color: #fff;
  padding: 10px 20px 20px 20px;
  border-radius: 5px;
  text-align: center;
  height: 300px;
  width: 500px;
  justify-content: space-evenly;
  align-items: center;
}

.modal-content p {
  margin: 20px 0 20px 0;
  font-size: 24px;
}

.modal-content button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  height: 50px;
  border-radius: 20px;
  font-size: 14px;
  color: white;
  background-color: #000038;
  width: 200px;
}
